body
{
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	font-family: sans-serif;
	/*text-align: center;*/
}

img
{
	border: 0;
	padding: 0;
}

a
{
	text-decoration: none;
	font-weight: bold;
    color: #0091C4;
}

a:hover
{
	text-decoration: underline;
}

#page
{
	width: 1000px;
	margin: auto;
	margin-top: 25px;
	background-color: #FFFFFF;
}

#header
{
    border-width: 4px;
    border-color: #0091C4;
    border-style: solid;
    padding: 10px;
    text-align: center;
}

#header-outside
{
    border-width: 4px;
    border-color: #000000;
    border-style: solid;
    padding: 5px;
}

#menu
{
	width: 200px;
	background-color: #FFFFFF;
	padding: 0;
	float: left;
}

#menu ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

#menu li
{
	/*float: left;*/
	text-decoration: none;
    padding: 0px;
    border-width: 4px;
    border-color: #0091C4;
    border-style: solid;
}

#menu .li-outside
{
    padding: 5px;
    border-width: 4px;
    border-color: #000000;
    border-style: solid;
    border-top: 0;
}

#menu a
{
	color: #000000;
}

#menu li
{
    text-align: center;
    vertical-align: center;
}

#body
{
	padding-left: 210px;
    border-left-width: 4px;
    border-left-color: #000000;
    border-left-style: solid;
    padding-bottom: 10px;
}

#body .item
{
}

#body h1
{
    margin: 0;
    padding: 0;
	font-size: 16pt;
	width: 30%;
	border-bottom: 2px solid #000000;
}

#body .content
{
	padding: 10px;
}

.complete
{
	text-decoration: line-through;
}

.monospace
{
    font-family: monospace;
}

table.calender
{
    margin-top: 15px;
    border-collapse: collapse;
}

table.calender td,th
{
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    width: 105px;
}

table.calender th
{
    font-size: 18pt;
    background-color: #E4F9FF;
    text-align: center;
}

table.calender .days
{
    font-weight: bold;
    background-color: #97BBC7;
}

table.calender .days td
{
    text-align: center;
}

table.calender .day
{
    height: 100px;
}

#footer
{
	border-width: 4px;
	border-style: solid;
	border-color: #0091C4;
	padding: 5px;
	text-align: center;
	font-size: 10pt;
	background-color: #FFFFFF;
	clear: both;
	vertical-align: center;
}

#footer-outside
{
    border-width: 4px;
    border-style: solid;
    border-color: #000000;
    padding: 5px;
}

#logos
{
	text-align: center;
	padding-top: 10px;
	margin-bottom: 15px;
}

#footnote
{
	vertical-align: bottom;
	font-size: 10pt;
	clear: both;
}

img.right
{
    float: right;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
}

img.left
{
    float: right;
    margin: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    /*margin-left: 5px;*/
}